

.main-section{
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;
    justify-content: center;  
    font-family: Lato; 
    height: 556px;
    width: 100%;
    background-image: url("../assets/circle-medium.svg");
    background-image: url("../assets/circle-small.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section span{
    font-weight: bold;
    color: #B73CD1;
}

.section-seta{
    margin-bottom: 12px;
}

.main-section p {
    color:var(--w-400);
    text-align: center;
    font-size: clamp(16px, 2vw, 28px);

}
.main-section h1{
    text-align: center;
    font-weight: bold;
    font-size: clamp(38px, 6vw, 72px);
    color:var(--w-100);
    margin-block: clamp(8px,4vh,12px);
}
.main-section h4{
    text-align: center;
    font-weight: bold;
    font-size: clamp(20px, 4vw, 32px);
    color:var(--w-100);
}

.main-section img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top:24px;
    margin: 0 auto;
}

