@import url(style.css);

.header_txt{display: none;}

.main-header{
    position: fixed;
    font-family: Lato;
    color: var(--w-100);
    background-color: var(--b-400);
    width: 100%;
    padding: 24px;
    z-index: 1;
    background-color: var(--b-400);
    height: 108px;
}

.header-icons img{
    position: relative;
    width: 35px;
    height: 35px;
}
.header-icons{
    display: block;
    width: 100px;
    justify-content: center;
    gap: 32px;
}
.header-logo a{
    position: relative;
    text-align: left;
    text-decoration: none;
    font-size: clamp(24px, 5vw, 40px);
    font-family: Lato;
    font-weight: bold;
    color:var(--w-100);
    margin: clamp(2px, 5vw, 12px);
    margin-left: 56px;
}
.header-logo  span{
    color: var(--p-400);
}


@media screen and (min-width: 320px){
    .header-icons{display: none;}
    
}

@media screen and (min-width: 768px){
    .header_txt{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 900px;
        gap:12px;
        justify-content: space-between;
        padding-block:24px;
    }
        .header-icons img{
            position: relative;
            width: 35px;
            height: 35px;
        }
        .header-icons{
            display: flex;
            width: 100px;
            justify-content: center;
            gap: 32px;
        }
    }
    
    .header_txt a{
        color:var(--w-100);
        font:'Lato';
        font-size: calc(min(20px,60vw));
        padding: 40px 0px;
    }
    
    .header_txt a:hover{
        color:var(--w-200);
        font-family: Lato;
        font-weight: bold;
        border-bottom: 3px solid var(--p-400);
        margin-bottom: -3px;
    }   
    
    .header-logo{
        align-items: center;
        justify-content: center;
        position: relative;
        width: 178px;
    }
    .header-logo a{
        position: relative;
        text-align: left;
        text-decoration: none;
        font-size: clamp(18px,60vw,24px);
        font-family: Lato;
        font-weight: bold;
        color:var(--w-100);
        margin: 0 auto;
    }
    .header-logo  span{
        color: var(--p-400);
    }
    .main-header{
        display: flex;
        flex-direction: row;
        position: fixed;
        font-family: Lato;
        color: var(--w-100);
        background-color: var(--b-400);
        width: 100%;
        z-index: 1;
    }

    .cabecalho{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        margin-left: 10px;
        width: 100%;
        justify-content: space-between;
    }

@media screen and (min-width: 992px){
    .cabecalho{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }

    .header-icons img{
        position: relative;
        width: 35px;
        height: 35px;
    }
    .header-icons{
        display: flex;
        width: 100px;
        justify-content: center;
        gap: 32px;
    }

    .header_txt  a:hover{
        color:var(--w-200);
        font-family: Lato;
        font-weight: bold;
        border-bottom: 3px solid var(--p-400);
        margin-bottom: -3px;
    }   
}
  
  @media screen and (min-width: 1200px){
    .header_txt{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 900px;
        gap:44px;
        justify-content: space-between;

    }
    
    .header_txt a{
        color:var(--w-100);
        font:'Lato';
        font-size: calc(min(22px,60vw));
        padding: 44px 0px;
    }
    
    .header_txt a:hover{
        color:var(--w-200);
        font-family: Lato;
        font-weight: bold;
        border-bottom: 3px solid var(--p-400);
        margin-bottom: -3px;
    }   
    
    .header-logo{
        align-items: center;
        justify-content: center;
        position: relative;
        width: 175px;
        margin-right: 4px;
    }
    .header-logo a{
        position: relative;
        text-align: left;
        text-decoration: none;
        font-size: 30px;
        font-family: Lato;
        font-weight: bold;
        color:var(--w-100);
    }
    .header-logo  span{
        color: var(--p-400);
    }
    .header-icons img{
        width: 35px;
        height: 35px;
    }
} 

